// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

$primary-color: #ffad33;
$accent-color: #ffad33;
$link-color: $accent-color;

@import "active_admin/mixins";
@import "active_admin/base";

// Use Railway font.
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

html {
  background-color: white;
}

body {
  background-color: white;
  font-family: "Raleway", sans-serif;
}

#wrapper {
  background-color: white;

  #title_bar {
    /* NOTE: We might want to unhide this. */
    display: none;
  }

  .header {
    background-image: none;
    background-color: white;
    color: black;
    border: none;
    text-shadow: none;

    .menu_item a {
      color: black;

      &:hover {
        background-color: $accent-color;
      }
    }

    #site_title {
      background-color: white;
      color: black;
    }

    #tabs {
      padding: 1rem;
      font-size: 1.2rem;
      background-color: white !important;

      .menu_item.current a {
        background-color: white;
        color: $accent-color;
      }
    }

    #utility_nav {
      background-color: white;
    }
  }
}

body.logged_out h1 {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  color: black;
  font-weight: bold;
}

body.logged_out #content_wrapper #active_admin_content {
  box-shadow: none;
}

body.logged_out #login a {
  float: none;
  margin-top: 0;
  align-self: flex-start;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100%;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;

    input {
      width: 100%;
      font-size: 1rem;
    }
  }
}

#login-registrate {
  margin-top: 0.5rem;

  span a {
    color: $accent-color;
  }
}

#login-submit {
  background-color: #ffad33;
  background-image: none;
  color: black;
  font-size: 1rem;
  padding: 0.8rem;
  width: 80%;
  margin-top: 1rem;
  text-shadow: none;
  border: none;
  border-radius: 0;
}
