@import "colors";

#actions {
  display: flex;
  justify-content: flex-end;

  .action-button {
    background-color: $button-1;
    text-decoration: none;
    font-size: small;
    font-weight: lighter;
    color: black;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .action-button:hover {
    background-color: $button-1-hover;
  }
}

#navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  .nav-button {
    text-decoration: none;
    font-size: small;
    font-weight: lighter;
    padding: 0.7rem 1.5rem;
    color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .nav-button-before {
    background-color: $button-2;
  }

  .nav-button-before:hover {
    background-color: $button-2-hover;
  }
}