@import "mixins";
@import "colors";

.siguiente {
  @include app-button;
  background-color: $accent-color;
  max-width: fit-content;
  align-self: flex-end;
  padding: 0.8rem;
}

.rectangle {
  background-color: white;
  background-image: none;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  text-align: left;
  text-shadow: none;
  font-weight: normal;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;

  &:hover {
    background-color: $accent-color;
  }
}
