#dashboard {
  display: flex;
  flex-direction: column;

  #instituciones {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: scroll;
    max-height: 50vh;
    margin-bottom: 0.5rem;
  }
}
