#register,
#login {
  background-image: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 60%;
  padding: 1rem;

  h1 {
    text-align: center;
    color: black;
    font-weight: bold;
  }

  .alert {
    background-color: #f50054;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    font-size: 1rem;
    color: white;
    padding: 1rem;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-item {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    font-size: 1rem;

    input {
      width: 100%;
    }
  }

  #register-login {
    margin-top: 0.5rem;

    span a {
      color: #ffad33;
    }
  }

  #register-submit {
    background-color: #ffad33;
    background-image: none;
    color: black;
    font-size: 1rem;
    padding: 0.8rem;
    width: 80%;
    margin-top: 1rem;
    text-shadow: none;
    border: none;
    border-radius: 0;
  }
}
