#course-S2 {
  margin-left: 2rem;
}

#materias {
  h2 {
    font-weight: bold;
  }
}

.checkbox-option {
  margin-top: 0.5rem;
  align-items: center;
  gap: 0.5rem;

  label {
    padding: 0.5rem;
    font-size: 1rem;
  }
}