#course-S1 {
  margin-left: 2.5em;
}

#tipo-institucion {
  h2 {
    font-weight: bold;
  }
}

.radio-option {
  margin-top: 1em;

  label {
    padding: 2em;
    font-size: 1rem;
  }

  input {
    width: 1.6em;
    height: 1.6em;
  }
}

