#course-S2 {
  margin-left: 2rem;
}

#materias {
  h2 {
    font-weight: bold;
  }
}

#materias_checkboxes {
  height: 50vh;
  overflow-y: scroll;
}

.checkbox-option {
  align-items: center;
  gap: 0.5rem;
  display: flex;

  label {
    padding: 0.2rem;
    font-size: 1rem;
  }
}

